/* VisitProfile.css */

/* General Styles */
.my-5 {
    margin-top: 2rem; /* Adjust margin-top as needed */
}

/* Box Styles */
.profile-box,
.tab-content-box {
    background-color: #fff;
    /* border: 1px solid #dee2e6;
    border-radius: 0.25rem; */
    padding: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Image Styles */
.profile-box img {
    width: 100%;
    border-radius: 0.25rem;
}

/* Profile Details Styles */
.profile-details,
.tab-content-box h3,
.tab-content-box p {
    margin-bottom: 1rem;
}

/* Button Styles */
.btn-primary {
    background-color: #6796e0; /* Change this to the color you want */
    border-color: 6796e0; /* Change this to the border color you want */
}

.btn-primary:hover {
    background-color: lightblue; /* Change this to the hover color you want */
    border-color: white; /* Change this to the hover border color you want */
}

/* Active tab styles */
.profile-tabs .nav-link.active {
    font-weight: bold;
}

/* Click styles */
.profile-tabs .nav-link:focus {
    border-bottom: 2px solid #007bff;  /* Adjust the color as needed */
}

/* Active tab content styles */
.profile-content.active {
    padding-top: 1rem; /* Adjust the padding as needed */
    border-top: 2px solid #007bff; /* Adjust the color as needed */
}

/* Increase font size for content in Details and Clinic */
.profile-content h3 {
    font-size: 24px; /* Adjust the font size as needed */
}

.profile-content p {
    font-size: 16px; /* Adjust the font size as needed */
}

.profile-tabs .nav-link {
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(80, 78, 78);
    font-size: 18px;
    margin-right: 10px;
}

.profile-tabs .nav-item {
    flex: 1;
    text-align: center;
}

.profile-details p{
    color: gray;
}

.profile-details h7{
    color: #51adc9;
}

.profile-tabs .nav-link.active,
.profile-tabs .nav-link.active:focus,
.profile-tabs .nav-link:not(.active):hover {
    color: #007bff; /* Set the font color to light blue */
    border-bottom: 3px solid #007bff; /* Set the underline color to light blue and increase thickness */
    
}

.profile-tabs .nav-link:not(.active):hover {
    color: #007bff; /* Set the font color on hover to light blue */
    border-bottom: 3px solid #d3d3d3; /* Set the underline color on hover to light grey */
}



.profile-tabs .nav-link.active {
    font-weight: bold;
    color: #007bff; /* Set the active color to the underline blue */
    border-bottom: 3px solid #007bff; /* Increase the thickness of the underline */
}

.business-hours-table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 15px;
    border: 1px solid #f3eeee;
}

.business-hours-table th, .business-hours-table td {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #f8f7f7; /* Add a border under all cells */
}

.business-hours-table th {
    background-color: #fcfcfce3;
    border-bottom: 1px solid #ced3d6; /* Add a thicker border under header */
}

.business-hours-table td.closed {
    position: relative;
}

.business-hours-table td.closed::after {
    content: 'Closed';
    color: #fff;
    background-color: #ff6666;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.business-hours-table th span.open {
    background-color: rgb(127, 196, 127); /* Light green background color for "Operating Hours" text */
    color: #fff;
    border-radius: 8px;
    padding: 4px; /* Adjust padding for smaller background size */
    text-align: center;
    font-size: 12px; /* Adjust font size for smaller text */
}
